.home-header {
    background-image: url('../assets/homeHeader.jpg');
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.home-header .content {
    text-align: center;
    max-width: 40%;
}

.home-header button {
    width: 50%;
}

.add-item-notification {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
    cursor: default;
    pointer-events: none;
    transition: .5s;
    opacity: 0;
}

.add-item-notification.visible {
    opacity: 1;
}

.swiper-container {
    width: 95%;
    margin: auto;
}

.swiper-pagination {
    margin-top: 10px;
}

.home-grid {
    height: 100vh;
}

.home-grid .col {
    height: 100vh;
}

.home-grid .img-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #efefef;
    cursor: pointer;
}

.home-grid .img-container h4 {
    z-index: 1;
    transition-duration: .5s;
}

.home-grid .img-container:hover h4 {
    transform: scale(1.5);
}

.home-grid .half-height {
    height: 50vh;
}

.home-grid .full-height {
    height: 100vh;
}

.home-grid .img-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
}

.tshirts-row {
    background-image: url('../../assets/t-shirts.jpg');
}

.pants-row {
    background-image: url('../../assets/pants.jpg');
}

.hoodie-row {
    background-image: url('../../assets/hoodie.jpg');
}

.accessories-row {
    background-image: url('../../assets/accessories.jpg');
}

.suit-row {
    background-image: url('../../assets/suit.jpg');
}

.socks-col {
    background-image: url('../../assets/socks.jpg');
}

.underwear-col {
    background-image: url('../../assets/underwear.jpg');
}