.browse-header {
    background-image: url('../../assets/browseHeader.jpg');
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.browse-header .content {
    text-align: center;
    max-width: 40%;
}

.browse-header h4 {
    text-transform: capitalize;
}

.browse-header button {
    width: 50%;
}