.browse-header {
    background-image: url('../../assets/browseHeader.jpg');
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.browse-header .content {
    text-align: center;
    max-width: 40%;
}

.browse-header h4 {
    text-transform: capitalize;
}

.browse-header button {
    width: 50%;
}

.add-item-notification {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 10px;
    z-index: 100;
    cursor: default;
    pointer-events: none;
    transition: .5s;
    opacity: 0;
}

.add-item-notification.visible {
    opacity: 1;
}