<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <a class="navbar-brand" href="">Ecommerce Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="ml-auto mr-5" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/ejs/cart">Cart </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Browse
                </a>
                <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/ejs/t-shirts">T-shirts</a>
                    <a class="dropdown-item" href="/ejs/pants">Pants</a>
                    <a class="dropdown-item" href="/ejs/hoodies">Hoodies</a>
                    <a class="dropdown-item" href="/ejs/accessories">Accessories</a>
                    <a class="dropdown-item" href="/ejs/suits">Suits</a>
                    <a class="dropdown-item" href="/ejs/socks">Socks</a>
                    <a class="dropdown-item" href="/ejs/underwear">Underwear</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="">Login</a>
            </li>
    </div>

</nav>